<% include ../header %>
	
	<header>
	  <h1>Ntalk</h1>
	  <h4>Editar contato</h4>
	</header>

	<section>
	  <form action="/contatos/<%- contato._id %>" method="post">
	  	<label>Nome</label>
	  	<input type="text" name="contato[nome]" placeholder="Nome" value="<%- contato.nome %>" />
	  	<label>Email</label>
	  	<input type="text" name="contato[email]" placeholder="Email" value="<%- contato.email %>" />
	  	<input type="submit" value="Atualizar" />
	  </form>
	</section>

<% include ../exit %>
<% include ../footer %>